<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSaJUaMVl3uZXiFZagSL4byTG850cqswA</string>
	<key>GCM_SENDER_ID</key>
	<string>749443606700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookmanagementsystem</string>
	<key>PROJECT_ID</key>
	<string>bank-management-system-b5150</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-management-system-b5150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749443606700:ios:d5e967fa4758e149df1709</string>
</dict>
</plist>